@import "../../styles/variables.scss";

.card {
  width: 21.875rem;
  height: 30rem;

  background: var(--tiffany-blue);

  cursor: pointer;

  transition: 0.3 ease all;

  &:hover {
    p {
      color: var(--white);
      text-decoration: underline;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    padding: 1.375rem 1.25rem;
  }

  h1 {
    font: var(--open-sans);
    font-size: 0.875rem !important;
    font-weight: bold;
    color: var(--dark-cerulean) !important;
  }

  p {
    font: var(--open-sans);
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-cerulean);
  }
}
